{% extends 'base.html.twig' %}

{% block title %}{{'cart-index'|trans}}{% endblock %}

{% block body %}
    <h1>{{'cart-index'|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateAchat</th>
                <th>Etat</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Nom client</th>
                {% endif %}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
                <td>{{ panier.id }}</td>
                <td>{{ panier.dateAchat ? panier.dateAchat|date('Y-m-d') : '' }}</td>
                <td>{{ panier.etat ? 'Yes' : 'No' }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>{{ panier.getUser.getNom }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_panier_show', {'id': panier.id}) }}">{{'view'|trans}}</a>
                    <a href="{{ path('app_panier_edit', {'id': panier.id}) }}">{{'edit'|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_panier_new') }}">Create new</a>
{% endblock %}
