{% extends 'base.html.twig' %}
{% block body %}

<main>
    <section class="py-5 text-center container bg-body" style="position:relative">
        <div class="row py-lg-5 relative" style="z-index:10; position:relative">
        <div class="col-lg-6 col-md-8 mx-auto" style="background-color: rgba(0,0,0,0.5)">
            <h1 class="fw-light text-white">La Croûte Dorée</h1>
            <p class="lead text-white">{{'open'|trans}}<br>{{'open-time'|trans}}</p>
        </div>
        </div>
         <img src="{{asset('img/landing.jpeg')}}" alt="landing" style="width:100%; height: 100%; object-fit:cover; position: absolute; top:0; right:0">
    </section>
  <div class="album py-5 bg-body-tertiary container">
  <h2 class="fw-light py-3 text-center">{{'default.our-products'|trans}}</h2>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for produit in produits %}
                <div class="col">
                  <div class="card shadow-sm" style= "height: 450px";>
                    <div class="card-body-img" style= "width:100%; height: 255px";>
                        {% if produit.photo is not null %}
                            <img src="{{ asset('uploads/'~ produit.photo) }}" style= "width:100%; height:100%; object-fit:cover">
                        {% endif %}
                    </div>
                    <div class="card-body" style="display:flex; flex-direction:column; justify-content: space-between;">
                    <div class="d-flex justify-content-between">
                      <p class="card-text">{{ produit.nom}}</p>
                      <p class="text-body-secondary">{{ produit.stock }} {{'default.in-stock'|trans}}</p>
                    </div>
                      <p class="card-text">{{ produit.description }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-secondary">{{'default.info'|trans}}</a>
                        {%if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                          <form action="{{ path('app_contenu_panier_new', {'id': produit.id}) }}" method="POST">
                            <button type="submit" class="btn btn-success">{{'default.add'|trans}}</button>
                          </form>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                          <a  class="btn btn-warning" href="{{ path('app_produit_edit', {'id': produit.id}) }}">{{'edit'|trans}}</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
        {% else %}
            <p colspan="7">{{'default.no-product'|trans}}</p>
        {% endfor %}
        </div>
      </div>
    </div>
</main>
{% endblock %}