{% extends 'base.html.twig' %}

{% block title %}{{'product-index'|trans}}{% endblock %}

{% block body %}
    <h1>{{'product-index'|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'name'|trans}}</th>
                <th>Description</th>
                <th>{{'price'|trans}}</th>
                <th>Stock</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>
                <td>
                    {% if produit.photo is not null %}
                        <img src="{{ asset('uploads/'~ produit.photo) }}" style="max-width: 100px;">
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-primary">{{'view'|trans}}</a>
                    {% if is_granted('ROLE_ADMIN' OR 'ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">{{'edit'|trans}}</a>
                    {% endif %}
                {% if not is_granted('ROLE_ADMIN' OR 'ROLE_SUPER_ADMIN') %}
                    <form action="{{ path('app_contenu_panier_new', {'id': produit.id}) }}" method="POST">
                        <button type="submit" class="btn btn-success">{{'default.add'|trans}}</button>
                    </form>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{'default.no-product'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if is_granted('ROLE_ADMIN' OR 'ROLE_SUPER_ADMIN') %}
    <a href="{{ path('app_produit_new') }}" class="btn btn-primary">{{'add-product'|trans}}</a>
{% endif %}

{% endblock %}
