{% extends 'base.html.twig' %}

{% block title %}ContenuPanier index{% endblock %}

{% block body %}
    <h1>ContenuPanier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for contenu_panier in contenu_paniers %}
            <tr>
                <td>{{ contenu_panier.id }}</td>
                <td>{{ contenu_panier.quantite }}</td>
                <td>{{ contenu_panier.date ? contenu_panier.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_contenu_panier_show', {'id': contenu_panier.id}) }}">Voir</a>
                    <a href="{{ path('app_contenu_panier_edit', {'id': contenu_panier.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('app_panier_index') }}" class="btn btn-primary">Valider</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-primary">Valider</a>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
