{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1 class="text-center">{{'users' | trans}}</h1>
    <table class="table container">
        <thead>
            <tr>
                <th>{{'name'|trans}}</th>
                <th>{{'first-name'|trans}}</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : "" }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{'user-not-found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <h1 class="text-center">{{'liste-paniers' | trans}}</h1>
    <table class="table container">
        <thead>
            <tr>
                <th>{{'name'|trans}}</th>
                 <th>{{'first-name'|trans}}</th>
                <th>{{'name-product'|trans}}</th>
                <th>{{'Identifiant'|trans}}</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for panier in contenu_paniers %}
            <tr>
                <td>{{ panier.userid.nom }}</td>
                <td>{{ panier.userid.prenom }}</td>
                <td>{{ panier.produit.nom }}</td>
                <td>{{ panier.id }}</td>
                <td>{{ panier.produit.description }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{'user-not-found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
